#Welcome to MAGRATHEA
#Authors: Huang C., Rice D.R., Steffen J.H.
#Planet interior structure code for astronomers, planetary scientists, mice, and more.
#=====================================================================================================================================
#Input Mode 2
#Fast 2-layer solver
#Return mass and radius for planets of 2 layers with isothermal interiors for rapid M-R lines
#Requires which layers to use and masses to solve for, Outputs in terminal
#-------------------------------------------------------------------------------------------------------------------------------------
#Input Mode 2 inputs
input_mode=2 
layer_index=0	# =0 is planets with only mantle and hydrosphere (no core), =1 is core and hydrosphere, =2 is core and mantle
mass_frac=0.5    # Mass fraction of the inner layer
min_mass=1.0	# Minimum mass to solve in Earth Mass
max_mass=10.0	# Maximum mass to solve in Earth Mass
step_mass=1.0   # Step size in Earth Mass to take from min to max
#-------------------------------------------------------------------------------------------------------------------------------------
#Global Run Options
verbose=false				# Whether print warnings
P_surface=1E5				# The pressure level that the broad band optical transit radius probes (in microbar)
#Only Default Phase Diagrmas
ave_rho_core=15		# Guess the density of the core is 15, mantle is 5, water is 2, and gas is 1E-3 g/cm^3
ave_rho_mantle=5
ave_rho_hydro=2
ave_rho_atm=1E-3
#-------------------------------------------------------------------------------------------------------------------------------------
#Error Tolerances (not recommended to change)
rho_eps_rel=1E-11	# relative error tolerance of the density solver
T_eps_rel=1E-11		# relative error tolerance of the temperature solver for the adiabatic profile
ode_eps_rel0=1E-7 	# relative error tolerance for first round ode integrator (1E-7) used in mode 0
ode_eps_rel1=1E-10 	# relative error tolerance for second round ode integrator (1E-10) used in mode 0
R_eps_rel=2E-5		# relative error tolerance in mode 0 first round radius determination (5E-5).  Should be around sqrt(ode_eps_rel0).
ode_eps_rel2=1E-10 	# relative error tolerance for ode integrator (1E-10) used in mode 1
P_eps_rel=1E-10		# relative error tolerance in mode 1 central pressure determination (1E-10).  Should not be more restrict than ode_eps_rel.
fit_eps_rel=1E-4 	# the relative error tolerance at the fitting point in mode 0 round 2 (1E-4). Should be four orders of magnitudes larger than ode_eps_rel1.
